* {
	padding: 0;
	margin: 0;
	}

#header {
    padding: 50px;
    background-color:lightgrey;
    text-align: center;
}

h1 {
    color: black;
}

#body {
    padding-top: 10px;
    text-align: center;
}

h3 {
    color: royalblue;
    padding: 5px;
}